<!-- <ion-header>
    <ion-toolbar class="toolbar2">
        <!-- <ion-title style="display: inline-block;color: #20291f;font-size: 16px;">
            My Profile
        </ion-title> --
        <!-- <div style="float: right; padding-right: 20px;">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
        </div> --
    </ion-toolbar>
</ion-header> -->
<ion-content class="contentMenu" contentId="content">
    <ion-list lines="none" style="background: #8b89b4;">
        <ion-title style="display: inline-block;color: #f0f0f7;font-size: 15px;padding-bottom: 20px;
        padding-top: 10px;">
            My Profile
        </ion-title>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of employeeSetupPage; let i=index">
            <ion-item class="items" lines="none" (click)="getIndexToShowArrow(i)" [ngClass]="{
                    'mainColor': numOfArray === i,'highlightColor': numOfArray !== i}">
                <div class="my-icon" [inlineSVG]="'assets/icon/user_sidebar/' + p.icon"></div>
                <ion-label style="padding-left: 15px;">
                    {{p.title}}
                </ion-label>
                <!-- <div *ngIf="numOfArray === i">
                    <ion-icon slot="end" color="primary" name="arrow-dropright"></ion-icon>
                </div> -->
            </ion-item>
        </ion-menu-toggle>
    </ion-list>
</ion-content>

<ion-content class="content2">
    <ion-router-outlet></ion-router-outlet>
</ion-content>