<div class="container">
    <div style="background-color: #ffffff;padding: 10px;padding-bottom: 20px;margin-bottom: 20px;">
        <div
            style="font-size: 13px;width:100%;background: #f5f6fa;padding: 10px;padding-left: 15px;color: #a3a6b4;font-weight: bold;">
            ACCOUNT SETTINGS</div>

        <ion-row>
            <ion-col size="2">
                <div class="fullContainer" style="margin-top: 10px;">
                    <ion-avatar class="avatar">
                        <img src="assets/icon/chris.jpg">
                    </ion-avatar>
                </div>
            </ion-col>
            <ion-col>
                <!-- <div class="header"> -->
                <p
                    style="color: #43425d;opacity:0.8;line-height: 1.25;font-size:13px;font-weight: bold;margin-bottom: 0;">
                    Profile photo</p>
                <p style="color: #707070;font-size: 12px;width: 48%;line-height: 1.27;">
                    This profile photo will be displayed on your photo.
                    Recommended to upload a photo with size below 1.2MB</p>
                <!-- <div> -->
                <!-- <ion-button style="font-size: 12px;cursor: pointer;height: 30px;
                        width: 85px;float:right;clear: both;text-transform: none;color: #7a8589">
                            Change Photo
                        </ion-button> -->
                <ion-button
                    style="font-size: 12px;margin-top: 12px;height: 30px;width: 124px;display: block; text-transform: capitalize"
                    color="primary"> Change Photo
                </ion-button>
                <!-- </div> -->
                <p style="color:#7069d8; font-size: 10px;cursor: pointer;display: block">Remove Photo</p>
                <!-- </div> -->

                <div class="header" style="padding-top: 1%;">
                    <p
                        style="color: #43425d;opacity:0.8;line-height: 1.25;font-size:13px;font-weight: bold;margin-bottom: 0;">
                        Password</p>
                    <p style="color: #707070;font-size: 12px;line-height: 1.27;margin-bottom: 0;">
                        Your password last update on</p>
                    <!-- <p style="color: #7a8589;margin-bottom: 0;">Password</p> -->
                    <!-- <p style="color: #bebebe;font-size: 12px;width: 28%;line-height: 1.3em;float: left;">
                        Your password last update on</p> -->

                    <!-- <ion-button shape="round" fill="outline" style="font-size: 12px;cursor: pointer;height: 30px;
                        width: 140px;float:right;clear: both;text-transform: none;color: #7a8589">
                            Change password
                        </ion-button> -->
                    <ion-button
                        style="font-size: 12px;margin-top: 12px;height: 30px;width: 124px;display: inline-block; text-transform: capitalize"
                        color="primary"> Change Password
                    </ion-button>
                </div>

                <div class="header" style="padding-top: 1%;">
                    <p
                        style="color: #43425d;opacity:0.8;line-height: 1.25;font-size:13px;font-weight: bold;margin-bottom: 0;">
                        Activity notifications</p>
                    <p style="color: #707070;font-size: 12px;line-height: 1.27;margin-bottom: 0;">
                        Send me notifications when:</p>
                    <!-- <p style="color: #7a8589;margin-bottom: 0;">Activity notifications</p> -->
                    <!-- <p style="color: #bebebe;font-size: 12px;width: 28%;line-height: 1.3em;margin-bottom: 0;">
                        Send me notifications when:</p> -->
                    <ion-list lines="none">
                        <!-- <ion-item class="item">
                            <ion-toggle mode="ios" color="success"></ion-toggle>
                            <p class="text">receive new message</p>
                        </ion-item> -->

                        <ion-item class="item">
                            <ion-toggle mode="ios" color="secondary"></ion-toggle>
                            <p class="text">Company posted new announcement</p>
                        </ion-item>

                        <ion-item class="item">
                            <ion-toggle mode="ios" color="secondary"></ion-toggle>
                            <p class="text">My leave request status (approved/rejected/etc)</p>
                        </ion-item>

                        <ion-item class="item">
                            <ion-toggle mode="ios" color="secondary"></ion-toggle>
                            <p class="text">My profile updates</p>
                        </ion-item>

                        <!-- <ion-toggle mode="ios" color="success"></ion-toggle>
                        <p class="text">someone add me to their connections</p> -->
                    </ion-list>
                </div>
            </ion-col>
        </ion-row>
        <!-- <div class="header">
            <div class="fullContainer">
                <ion-avatar class="avatar">
                    <img src="assets/icon/chris.jpg">
                </ion-avatar>
            </div>
            <p style="color: #43425d;opacity:0.8;line-height: 1.25;font-size:13px;font-weight: bold;margin-bottom: 0;">
                Profile photo</p>
            <p style="color: #707070;font-size: 12px;width: 28%;line-height: 1.27;float: left;">
                This profile photo will be displayed on your photo.
                Recommended to upload a photo with size below 1.2MB</p>

            <div style="display: inline-block; padding-left: 30%">
                <ion-button shape="round" fill="outline" style="font-size: 12px;cursor: pointer;height: 30px;
            width: 85px;float:right;clear: both;text-transform: none;color: #7a8589">
                    Change
                </ion-button>
                <p style="color:#057dcd; font-size: 10px;float:right;clear: both;padding-right: 10px;
        margin-top: 0; cursor: pointer;">Remove photo</p>
            </div>
        </div>

        <div class="header" style="padding-top: 3%;">
            <p style="color: #7a8589;margin-bottom: 0;">Password</p>
            <p style="color: #bebebe;font-size: 12px;width: 28%;line-height: 1.3em;float: left;">
                Your password last update on</p>
            <div style="display: inline-block; padding-left: 45%">
                <ion-button shape="round" fill="outline" style="font-size: 12px;cursor: pointer;height: 30px;
            width: 140px;float:right;clear: both;text-transform: none;color: #7a8589">
                    Change password
                </ion-button>
            </div>
        </div>

        <div class="header" style="padding-top: 3%;">
            <p style="color: #7a8589;margin-bottom: 0;">Activity notifications</p>
            <p style="color: #bebebe;font-size: 12px;width: 28%;line-height: 1.3em;margin-bottom: 0;">
                Send me notifications when:</p>
            <ion-list lines="none" style="background: #f9fafc">
                <!-- <ion-item class="item">
                <!-- [(ngModel)]="message" --
                <ion-toggle mode="ios" color="success"></ion-toggle>
                <p class="text">receive new message</p>
            </ion-item> --

        <ion-item class="item">
            <!-- [(ngModel)]="announcement" --
                    <ion-toggle mode="ios" color="success"></ion-toggle>
                    <p class="text">Company posted new announcement</p>
                </ion-item>

                <ion-item class="item">
                    <!-- [(ngModel)]="status" --
                    <ion-toggle mode="ios" color="success"></ion-toggle>
                    <p class="text">My leave request status (approved/rejected/etc)</p>
                </ion-item>

                <ion-item class="item">
                    <!-- [(ngModel)]="profile" --
                    <ion-toggle mode="ios" color="success"></ion-toggle>
                    <p class="text">My profile updates</p>
                </ion-item>

                <!-- <ion-item class="item">
                <!-- [(ngModel)]="connection" --
                <ion-toggle mode="ios" color="success"></ion-toggle>
                <p class="text">someone add me to their connections</p>
            </ion-item> --
            </ion-list>
        </div> -->
    </div>
</div>