:host {
  .app-calendar {
    // max-width: 900px;
    width: 55%;
    margin-top: 10px;
    margin-bottom: 1%;
    display: inline-block;
  }
  ::ng-deep.fc-content-skeleton {
    min-height: 20px;
  }
  .holidayView {
    padding-left: 3%;
    margin-top: 66px;
    float: right;
    width: 45%;
    overflow: auto;
    max-height: 375px;
  }
  .titleRow {
    padding-left: 5%;
    padding-top: 5px;
    // padding-bottom: 2%;
    background: #f5f6fa;
    height: 37px;
    // margin-bottom: 12px;
  }
  .detailsRow {
    // padding-left: 5%;
    padding-top: 10px;
  }
  .divider {
    --min-height: none;
    padding-top: 1%;
    padding-bottom: 2%;
    width: 100%;
  }
  mat-chip {
    max-width: 75px;
    min-height: 20px;
    min-width: 75px;
  }
  .mat-chip.mat-standard-chip {
    background-color: #7069d8;
  }
  ::ng-deep .mat-chip-list-wrapper .mat-standard-chip {
    margin-top: 8px;
  }

  //full calendar
  ::ng-deep .fc-toolbar > * > :not(:first-child) {
    text-transform: capitalize;
    // background: #a5a4bf;
    // border-color: #a5a4bf;
  }
  ::ng-deep .fc-button-group > .fc-button:not(:last-child) {
    text-transform: capitalize;
    // background: white;
    // border-color: #e8e9ec;
    // color: #a4afb7;
    // border-radius: 2px;
    // box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
    // border: solid 1px #e8e9ec;
  }
  ::ng-deep .fc-button-group > .fc-button:not(:first-child) {
    text-transform: capitalize;
    // background: #a5a4bf;
    // border-color: #a5a4bf;
  }
  ::ng-deep .fc-button-group > .fc-button:not(:last-child) {
    text-transform: capitalize;
    // background: white;
    // border-color: #e8e9ec;
    // color: #a4afb7;
    // border-radius: 2px;
    // box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
    // border: solid 1px #e8e9ec;
  }
  ::ng-deep .fc-event-container {
    cursor: pointer;
  }
  ::ng-deep .fc-toolbar h2 {
    font-size: 18px;
    font-weight: bold;
  }
  ::ng-deep .fc-button:not(:disabled) {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #43425d;
    background-color: #43425d;
    color: #f0f0f7;
  }
  ::ng-deep div.fc-view-container > div.fc-view fc-dayGridMonth-view fc-dayGrid-view > table > thead {
    line-height: 3.2;
    background-color: #e9e9f0;
    color: #a3a6b4;
  }
}
