<div class='app-calendar'>
    <full-calendar *ngIf="events" #calendar defaultView="dayGridMonth" [header]="{
                          left: 'prev,next today',
                          center: 'title',
                          right: 'dayGridMonth,timeGridWeek, listYear'
                        }" [plugins]="calendarPlugins" [events]="events" [eventLimit]=true
        (eventClick)="text = $event.el.text; start = $event.event.start; end = $event.event.end;color = $event.event.backgroundColor; onEventClick($event)">
    </full-calendar>
    <div *ngIf="text" style="height: 30px;float: left;margin-top: 29px;width: 5px;"
        [style.border]="color=='' ? '2px solid #057dcd':'2px solid #c2185b'"></div>
    <div *ngIf="text" style=" font-size: 16px;padding-top: 5px;position: absolute;padding-left: 20px;">
        {{start | date:'EEEE, MMM d'}} <span *ngIf="endDate !== start && end !== null">-
            {{endDate | date:'EEEE, MMM d'}}</span></div><br>
    <div *ngIf="text" style="padding-left: 20px;padding-top: 13px;position: absolute;">{{timeslot}}</div>
    <div *ngIf="text" style="padding-left: 120px;padding-top: 13px;position: absolute;">{{text}}</div>
</div>

<div class="holidayView">
    <ion-row class="titleRow">
        <ion-col style="display: inline-flex;">
            <ion-label style="color: white">Day</ion-label>
        </ion-col>
        <ion-col>
            <ion-label style="color: white">Date</ion-label>
        </ion-col>
        <ion-col>
            <ion-label style="color: white">Holiday</ion-label>
        </ion-col>
    </ion-row>

    <ion-row class="detailsRow" *ngFor="let holiday of PBList">
        <ion-col>
            <ion-label>{{holiday.day}}</ion-label>
        </ion-col>
        <ion-col class="colOfLeave">{{holiday.str}}
        </ion-col>
        <ion-col class="colOfLeave" style="color: #057dcd">{{holiday.title}}
        </ion-col>
        <ion-item class="divider" lines="full"></ion-item>
    </ion-row>
</div>