<div class="filerContainer" style="margin: auto;width: 45%;">
    <form [formGroup]="formPassValidation">
        <p style="color: #20291f;font-size: 16px;text-align: center;">Hello Qiqi. Welcome to WorkHub!</p>
        <p style="color: #7a8589;font-size: 14px;text-align: center;">In order to get started, you need
            to change the
            current temporary password with your self-defined password for security reasons</p>
        <ion-list class="chipList" style="text-align: center;">
            <ion-chip outline mode="ios" style="font-size: 12px;border: none;background-color: #dfe3e6;">
                <ion-avatar>
                    <img src="assets/icon/picture.png">
                </ion-avatar>
                <ion-label>{{email}}</ion-label>
            </ion-chip>
        </ion-list>
        <p style="color: #7a8589;font-size: 12px;padding-top: 10px;">NEW PASSWORD</p>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Your new password</mat-label>
            <input matInput style="font-size: 12px;" #newPassword [type]="showNewPassword ? 'text' : 'password'"
                formControlName="newPass" required>
            <mat-error *ngIf="formPassValidation.hasError('required', 'newPass')">
                Please enter your newpassword
            </mat-error>
            <mat-icon matSuffix style="cursor: pointer;">
                <ion-icon style="height: 20px;" name="eye-off" *ngIf="!showNewPassword"
                    (click)="showNewPassword = true;">
                </ion-icon>
                <ion-icon style="height: 20px;" name="eye" *ngIf="showNewPassword" (click)="showNewPassword = false;">
                </ion-icon>
            </mat-icon>
        </mat-form-field>

        <p style="color: #7a8589;font-size: 12px;">CONFIRM NEW PASSWORD</p>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Confirm new password</mat-label>
            <input matInput style="font-size: 12px;" #confirmPassword [type]="showConfirmPassword ? 'text' : 'password'"
                formControlName="confirmPass" [errorStateMatcher]="matcher">
            <mat-error *ngIf="formPassValidation.hasError('notSame')">
                Passwords do not match
            </mat-error>
            <mat-icon matSuffix style="cursor: pointer;height: 20px;">
                <ion-icon style="height: 20px;" name="eye-off" *ngIf="!showConfirmPassword"
                    (click)="showConfirmPassword = true;"></ion-icon>
                <ion-icon style="height: 20px;" name="eye" *ngIf="showConfirmPassword"
                    (click)="showConfirmPassword = false;"></ion-icon>
            </mat-icon>
        </mat-form-field>
        <div style="text-align: center">
            <ion-button shape="round" fill="solid" style="font-size: 12px;width: 170px;text-transform: none"
                [disabled]="!formPassValidation.valid" (click)="sendPassword(formPassValidation.value)">
                Update my password
            </ion-button>
        </div>
    </form>
</div>