<div class='app-calendar'>
    <full-calendar #calendar defaultView="dayGridMonth" [header]="{
                          left: 'prev,next today',
                          center: 'title',
                          right: 'dayGridMonth,timeGridWeek'
                        }" [plugins]="calendarPlugins" [events]="calendarEvents"
        (eventClick)="text = $event.el.text; date = $event.event.start">
    </full-calendar>
    <div *ngIf="text" style="border: 2px solid #7069d8;height: 30px;float: left;margin-top: 29px;width: 5px;"></div>
    <div *ngIf="text"
        style="color: #43425d;opacity: 0.8;font-size: 16px;padding-top: 5px;position: absolute;padding-left: 20px;">
        {{date | date:'EEEE, MMM d'}}</div><br>
    <div *ngIf="text" style="color: #43425d;opacity: 0.8;padding-left: 20px;padding-top: 13px;position: absolute;">All
        Day
    </div>
    <div *ngIf="text" style="color: #43425d;opacity: 0.8;padding-left: 120px;padding-top: 13px;position: absolute;">
        {{text}}</div>
</div>
<div class="selection">
    <form [formGroup]="applyLeaveForm">
        <div style="display:block; white-space: nowrap;">
            <mat-form-field appearance="outline" style="width: 74%;">
                <mat-label>Leave types</mat-label>
                <mat-select class="selectLeave" name="leave" formControlName="leaveTypes" required>
                    <mat-option *ngFor="let leave of entitlement; let i=index" [value]="leave.leaveTypeName"
                        (click)="daysAvailable = leave.balanceDays;leaveTypeId = leave.leaveTypeId;">
                        {{leave.leaveTypeName}}</mat-option>
                </mat-select>
                <mat-error *ngIf="!applyLeaveForm.leaveTypes" style="padding: 5px;padding-left: 0;">
                    Please select one leave type</mat-error>
            </mat-form-field>
            &nbsp;&nbsp;
            <!-- <mat-form-field style="width: 24%" appearance="outline"> -->
            <div style="display: inline-block;">
                <mat-label style="color: #808495;font-size: 12px;">Days available</mat-label>
                <!-- <input matInput [(value)]="daysAvailable" disabled> -->
                <p *ngIf="daysAvailable != undefined"
                    style="color: #43425d;font-size: 13px;font-weight: bold;opacity: 0.8;margin-top: 12px">
                    {{daysAvailable}}</p>
                <p *ngIf="daysAvailable == undefined"
                    style="color: #43425d;font-size: 13px;font-weight: bold;opacity: 0.8;margin-top: 12px">
                    0</p>
            </div>
            <!-- </mat-form-field> -->
        </div>
        <div style="display:block; white-space: nowrap;">
            <mat-form-field class="date" appearance="outline">
                <mat-label>Start date</mat-label>
                <input class="dateInput" matInput [matDatepicker]="picker1" formControlName="firstPicker" required
                    (dateInput)="getValueFrom($event)" [max]="maxDate" (dateChange)="onDateChange()">
                <div class="calendar-icon" [inlineSVG]="'assets/icon/option/calendar.svg'" (click)="picker1.open()">
                </div>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="!applyLeaveForm.firstPicker" style="padding: 5px;padding-left: 0;">
                    Invalid start date</mat-error>
            </mat-form-field>
            <div style="display: inline-block;width:4%"></div>
            <mat-form-field class="date" appearance="outline">
                <mat-label>End date</mat-label>
                <input class="dateInput" matInput [matDatepicker]="picker2" formControlName="secondPicker" required
                    (dateInput)="getValueTo($event)" [min]="minDate" (dateChange)="onDateChange()">
                <div class="calendar-icon" [inlineSVG]="'assets/icon/option/calendar.svg'" (click)="picker2.open()">
                </div>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error *ngIf="!applyLeaveForm.secondPicker" style="padding: 5px;padding-left: 0;">
                    Invalid end date</mat-error>
            </mat-form-field>
            &nbsp;&nbsp;
            <!-- <mat-form-field style="width: 20%" appearance="outline"> -->
            <div style="display: inline-block">
                <mat-label style="color: #808495;font-size: 12px;">No. of days</mat-label>
                <p style="color: #43425d;font-size: 13px;font-weight: bold;opacity: 0.8;margin-top: 12px">
                    {{daysCount}}</p>
                <!-- <input matInput [(value)]="daysCount" disabled> -->
            </div>
            <!-- </mat-form-field> -->
        </div>

        <!-- <ion-item class="divider" lines="full"></ion-item> -->
        <div style="display: block; white-space: nowrap;" formArrayName="dayTypes">
            <div style="display: block; white-space: nowrap;" *ngFor="let dayType of dayTypes.controls; let i=index"
                [formGroupName]="i">
                <mat-form-field appearance="outline" style="width: 35%;">
                    <mat-label>Day types</mat-label>
                    <mat-select class="selectLeave" formControlName="name"
                        (selectionChange)="dayTypesChanged($event, i)">
                        <mat-option value=0> Full Day</mat-option>
                        <mat-option value=1> Half Day</mat-option>
                        <mat-option value=2 *ngIf="daysCount === 1"> Quarter Day</mat-option>
                    </mat-select>
                </mat-form-field>
                <div style="display: inline-block;width:4%"></div>
                <mat-form-field appearance="outline" style="width: 35%;" *ngIf="dayTypes.value[i].name == 1 ">
                    <mat-label>Half day dates </mat-label>
                    <mat-select class="selectLeave" (selectionChange)="halfDaySelectionChanged($event.value,i)"
                        (openedChange)="open(i)" multiple>
                        <mat-option *ngFor="let selectArray of dayTypes.controls[i].value.selectArray[0]; let j=index"
                            [value]="selectArray" [disabled]="dayTypes.controls[i].value.status[0][j]"
                            (click)="valueSelected(i, j)">
                            {{selectArray | date:'M/d/y'}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <span *ngIf="dayTypes.value[i].name !== 2 ">&nbsp;&nbsp;</span>
                <mat-radio-group class="example-radio-group" (change)="timeSlotChanged($event,i)" style="width: 24%"
                    *ngIf="dayTypes.value[i].name == 1 " [value]="dayTypes.controls[i].value.selectArray[1]">
                    <mat-radio-button value="AM" style="font-size: 11px;color: #4d4f5c;opacity: 0.8;">AM
                    </mat-radio-button>
                    <mat-radio-button style="padding-left: 10px;font-size: 11px;color: #4d4f5c;opacity: 0.8;"
                        value="PM">PM
                    </mat-radio-button>
                </mat-radio-group>
                <mat-form-field appearance="outline" style="width: 32%;" *ngIf="dayTypes.value[i].name == 2 ">
                    <mat-label>Quarter hours</mat-label>
                    <mat-select [(value)]="selectedQuarterHour">
                        <mat-option value="Q1">Q1 Hours</mat-option>
                        <mat-option value="Q2">Q2 Hours</mat-option>
                        <mat-option value="Q3">Q3 Hours</mat-option>
                        <mat-option value="Q4">Q4 Hours</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <ion-icon class="addIcon" name="add-circle-outline" *ngIf="showAddIcon" (click)="addFormField()"></ion-icon>
            <p style="color:#3b86ff; cursor: pointer;font-size: 11px;font-weight: bold;position: absolute;
            margin-top: -21px;margin-left: 20px;" *ngIf="showAddIcon" (click)="addFormField()">Add
                More</p>
            <mat-hint style="font-size: 75%;display: block;padding: 5px;">
                Please ignore day types selection if not considered other options (half/quarter)
            </mat-hint>
        </div>
        <!-- <ion-item class="divider" lines="full"></ion-item> -->
        <mat-form-field class="reasonBox" appearance="outline" style="width: 98%;">
            <mat-label>Reason</mat-label>
            <input matInput formControlName="inputReason" required>
            <mat-error *ngIf="!applyLeaveForm.inputReason" style="padding: 5px;padding-left: 0;"> Please
                enter reason</mat-error>
        </mat-form-field>

        <div>
            <!-- <ion-button shape="round" fill="outline"
                (click)="applyLeaveForm.reset(); daysAvailable='';daysCount=0;minDate='';maxDate='';clearArrayList()"
                style="height: 27px; font-size: 12px;text-transform: none">Clear
            </ion-button>
            <ion-button shape="round" style="height: 27px;font-size: 12px;width: 115px;text-transform: none"
                [disabled]="!applyLeaveForm.valid"
                (click)="postData(); applyLeaveForm.reset();daysAvailable='';daysCount=0;minDate='';maxDate='';">
                Apply for {{daysCount}} days
            </ion-button> -->
            <ion-button fill="outline"
                (click)="applyLeaveForm.reset(); daysAvailable=0;daysCount=0;minDate='';maxDate='';clearArrayList()"
                style="background: #f0f0f7;font-size: 11px;height: 30px;width:124px;cursor: pointer;text-transform: none;"
                color="primary">
                Clear
            </ion-button>
            <div style="display: inline-block"></div>
            <ion-button [disabled]="!applyLeaveForm.valid"
                (click)="postData(); applyLeaveForm.reset();daysAvailable=0;daysCount=0;minDate='';maxDate='';"
                style="font-size: 11px;height: 30px;width:124px;cursor: pointer;text-transform: none;" color="primary">
                Apply For {{daysCount}} Days
            </ion-button>
        </div>
    </form>
</div>