<!-- <ion-header>
    <ion-toolbar class="toolbar2">
        <ion-title style="display: inline-block;color: #20291f; font-size: 16px;">
            Employee Directory
        </ion-title>
        <!-- <div style="float: right; padding-right: 20px;">
            <div class="filter-icon" [inlineSVG]="'assets/icon/option/filter.svg'" (click)="viewMoreFilter=true;"></div>
        </div> --
    </ion-toolbar>
</ion-header> -->




<ion-content class="content2">
    <ion-router-outlet></ion-router-outlet>
</ion-content>
<!-- <router-outlet></router-outlet> -->