<div style="width: 100%">
    <ion-item lines="full">
        <ion-avatar slot="start" style="width: 30px;height: 30px;margin-right: 16px;">
            <img src="assets/icon/picture.png">
        </ion-avatar>
        <ion-label style="color:#7a8589">{{admin}} has invited you to join {{application}}</ion-label>
    </ion-item>
</div>
<div style="margin: auto; width: 59%">
    <img src="assets/icon/logo.PNG" style="max-width: 150px;max-height: 65px;">
    <p style="color: #057dcd; font-size: 24px;">Hi there, join your other colleagues in {{application}}!</p>
    <p style="color: #7a8589;font-size: 14px">You've been invited to have an account by {{admin}}. You will
        need to verify your account
        by clicking on the button below.</p>
    <p style="color: #7a8589;font-size: 14px">{{application}} is a portal where you can
        {{applicationDescription}}.</p>
    <p style="color: #7a8589;font-size: 14px">This invitation expires after 7 days. If you have any question,
        please contact <a routerLink="">{{admin}}.</a>
    </p>
    <div style="padding-top: 10px;">
        <ion-button shape="round" fill="solid" style="font-size: 12px;width: 170px;text-transform: none" (click)="routeToUpdatePassword()">
            Verify my account
        </ion-button>
    </div>
</div>