:host {
  top: 48px;
  background: #f9fafc;
  overflow: auto;
  justify-content: flex-start !important;

  // Flexbox
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
  }
  .column {
    flex: 75%;
    max-width: 75%;
    padding: 0 10px;
  }
  .columns {
    flex: 25%;
    max-width: 25%;
    padding: 0 10px;
  }
  .column .leftCard {
    margin-top: 5px;
    vertical-align: middle;
  }
  .column .googleCart {
    margin-top: 20px;
    vertical-align: middle;
    margin-bottom: 20px;
  }
  .columns .rightCard {
    margin-top: 5px;
    vertical-align: middle;
  }
  .columns .rightCardBottom {
    margin-top: 5px;
    vertical-align: middle;
  }
  .columns .rightCardLast {
    margin-top: 20px;
    vertical-align: middle;
  }

  // mat grid list

  .button1,
  .button2 {
    color: #057dcd;
    width: 100px;
    height: 25px;
    font-size: 12px;
    text-transform: none;
    cursor: pointer;
  }
  .button2 {
    margin-top: 0;
  }
  .button3 {
    margin-top: 0;
    width: 130px;
    height: 25px;
    color: #057dcd;
    font-size: 12px;
    text-transform: none;
    cursor: pointer;
  }
  .button-outline {
    --border-width: 1px;
  }
  .mat-list-item {
    font-size: 12px;
    height: 30px !important;
  }
  ::ng-deep .mat-list-text {
    padding-left: 0px !important;
    color: #7a8589;
  }
  .mat-list {
    overflow: hidden;
    max-height: 160px;
  }
  .divider {
    --min-height: none;
    padding-top: 5%;
    padding-bottom: 1%;
    width: 100%;
  }
  .list {
    padding: 0;
  }
  .avatar {
    margin-right: 15px;
    width: 34px;
    height: 34px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .labelText {
    margin: 0;
  }
}
