:host {
  .fullContainer {
    display: flex;
    flex-wrap: wrap;
  }
  .card-content-md p {
    font-size: 13px;
  }
  .subtitle {
    display: inline;
    padding-left: 2px;
  }
  .fa-circle {
    font-size: 5px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
  }
  .fa-map-marker-alt {
    padding-right: 10px;
  }
  .mainDivider {
    --min-height: none;
  }
  .divider {
    --min-height: none;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
  }
  ion-card {
    height: 100%;
    margin: 0;
  }
  .cardContent {
    background-color: #f9fafc;
    overflow: auto;
    height: calc(100% - 133px);
  }
  .titleRow {
    padding-left: 2%;
    padding-top: 5px;
    padding-bottom: 2%;
  }
  .detailsRow {
    padding-left: 2%;
    padding-top: 5px;
    // flex-wrap: nowrap;
  }
  //   .detailsRow {
  //     padding-left: 5%;
  //     padding-right: 5%;
  //     padding-top: 5px;
  //   }
  ion-label {
    // color: #20291f;
    font-weight: 500;
    display: block;
    font-size: 12px;
  }
  ion-badge {
    position: absolute;
    top: 26px;
    left: 115px;
    border-radius: 50%;
  }
  .crossIcon {
    cursor: pointer;
    float: right;
  }
  .edit-profile-icon {
    width: 15px;
    height: 15px;
    fill: #057dcd;
    cursor: pointer;
    float: left;
  }
  .marker-icon {
    width: 17px;
    height: 16px;
    fill: #7a8589;
    float: left;
  }
  .pic-icon {
    width: 11px;
    height: 12px;
    fill: #bebebe;
    float: left;
    cursor: pointer;
  }
  .education-edit-pencil-icon {
    width: 13px;
    height: 13px;
    fill: #dfe3e6;
    float: right;
    cursor: pointer;
  }
  .education-delete-icon {
    width: 13px;
    height: 13px;
    fill: #dfe3e6;
    cursor: pointer;
    margin-left: 12%;
    float: right;
    margin-right: 1%;
  }
  .edit-pencil-icon {
    width: 13px;
    height: 13px;
    fill: #dfe3e6;
    float: right;
    cursor: pointer;
  }
  .delete-icon {
    width: 13px;
    height: 13px;
    fill: #dfe3e6;
    cursor: pointer;
    margin-left: 1%;
    float: right;
    margin-right: 8%;
  }
  .header {
    padding: 10px;
    background-color: #057dcd;
    color: white;
    padding-left: 50px;
    display: inline-block;
    width: 100%;
    font-size: 13px;
  }
  .right {
    padding-top: 1%;
  }
  .avatar {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right: 30px;
  }
  .edit-icon {
    float: right;
    fill: #057dcd;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .award-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 10px;
    top: 10px;
    fill: rgba(0, 0, 0, 0.3);
  }
  .certificate-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 10px;
    top: 10px;
    fill: rgba(0, 0, 0, 0.3);
  }

  .button-outline {
    --border-width: 1px;
  }
  // img class
  .uploadedImg {
    width: 100%;
    height: 100%;
  }
  .uploadedImg:hover {
    opacity: 0.8;
  }
  .imgClass:hover {
    background: rgba(0, 0, 0, 0.185);
  }
  .imgClass {
    width: 100px;
    height: 100px;
    border: 1px solid
      var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 2px;
    display: flex;
  }
  .closeIcon {
    display: none;
  }
  .imgClass:hover .closeIcon {
    cursor: pointer;
    display: block;
    position: absolute;
    margin-left: 83px;
  }
  // pdf class
  .pdfClass {
    width: 100px;
    height: 100px;
    border: 1px solid
      var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 2px;
    display: flex;
  }
  .pdfClass:hover {
    background: rgba(0, 0, 0, 0.185);
  }
  .pdfClass:hover .closeIcon {
    cursor: pointer;
    display: block;
    position: absolute;
    margin-left: 83px;
  }
  pdf-viewer:hover {
    opacity: 0.8;
  }
}
