:host {
  top: 48px;
  overflow: auto;
  background: #f0f0f7;

  /////////////////////// header //////////////////////

  .header-md:after {
    height: 0px;
    background-image: none;
  }
  .toolbar2 {
    --min-height: 35px;
    border: 1px solid
      var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
  }
  .fullContainer {
    display: flex;
    flex-wrap: wrap;
    background: white;
    padding: 20px;
  }
  .avatar {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right: 30px;
  }
  .right {
    padding-top: 1%;
  }
  .subtitle {
    display: block;
    // padding-left: 2px;
    color: #43425d;
    opacity: 0.8;
    padding-top: 5px;
  }
  .textBalance{
    display: block;
    color: #43425d;
    opacity: 0.8;
    padding-top: 5px;
    font-size: 11px;
    white-space: nowrap;
    margin: 0;
    padding: 0;
  }
  .back-icon {
    width: 30px;
    height: 19px;
    fill: #20291f;
    float: left;
    cursor: pointer;
  }
  .fa-instagram {
    font-size: 18px;
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    -webkit-background-clip: text;
    background-clip: text;
  }
  .fa-linkedin-in {
    color: #007bb6;
    padding-right: 10px;
  }
  .fa-facebook-f {
    color: #3b5998;
    padding-right: 10px;
    font-size: 18px;
    padding-top: 5px;
  }
  .card-content-md p {
    font-size: 13px;
  }
  .fa-map-marker-alt {
    padding-right: 10px;
  }
  .leftCard {
    // width: 98%;
    // position: absolute;
    // top: 45px;
    // left: 2%;
    height: 100%;
    margin: 0;
    overflow: auto;
  }

  ////////////////////////// mat tab ///////////////////

  ::ng-deep .mat-tab-header {
    // margin-top: -13px;
    // margin-left: -16px;
    // margin-right: -16px;
    border: none;
  }
  ::ng-deep .mat-tab-label {
    height: 35px !important;
    color: #a5a4bf;
    font-weight: bold;
    font-size: 13px;
    margin-left: -20px;
  }
  ::ng-deep .mat-tab-labels {
    background: #f5f6fa;
  }
  ::ng-deep .mat-tab-label.mat-tab-label-active {
    color: #7069d8;
    font-weight: bold;
    font-size: 13px;
  }
  ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: transparent;
  }
}
