<div class="title">Change Password<ion-icon name="close" class="closeIcon" (click)="close()">
  </ion-icon>
</div>

<form [formGroup]="myForm">
  <div style="text-align: left;padding-left: 40px;padding-right: 40px;margin-bottom: 20px;">
    <p style="color: #43425d;line-height: 1.25;font-size: 12px;margin-bottom: 10px;">You may change new password after
      verified your current password </p>
    <mat-form-field style="width: 100%;font-size: 12px;">
      <mat-label>Current password</mat-label>
      <input matInput placeholder="Current password" formControlName="currentPass"
        [type]="hideCurrent ? 'text' : 'password'" required>
      <mat-icon matSuffix (click)="hideCurrent = !hideCurrent">{{hideCurrent ? 'visibility':'visibility_off'}}
      </mat-icon>
      <mat-error *ngIf="myForm.hasError('required', 'currentPass')">
        Please enter your current password
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field style="width: 100%;font-size: 12px;">
      <mat-label>New password</mat-label>
      <input matInput placeholder="New password" formControlName="newPass" [type]="hideNew ? 'text' : 'password'"
        required>
      <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility':'visibility_off'}}</mat-icon>
      <mat-error *ngIf="myForm.hasError('required', 'newPass')">
        Please enter your new password
      </mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%;font-size: 12px;">
      <mat-label>Confirm password</mat-label>
      <input matInput placeholder="Confirm password" formControlName="confirmPass"
        [type]="hideConfirm ? 'text' : 'password'" [errorStateMatcher]="matcher" required>
      <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility':'visibility_off'}}
      </mat-icon>
      <mat-error *ngIf="myForm.hasError('notSame')">
        Passwords do not match
      </mat-error>
    </mat-form-field>
  </div>
</form>
<div mat-dialog-actions style="display: block; text-align: center;font-size: 11px;">
  <button mat-flat-button color="primary" style="color:white;background: #7069d8;border-radius: 2px;
        width: 136px;height: 30px;line-height: 30px;font-size: 11px;" [mat-dialog-close]="myForm.value"
    [disabled]="myForm.invalid">Done</button>
</div>