<div class="title">Change Password</div>
<div style="text-align: left;padding-left: 40px;padding-right: 40px;margin-bottom: 20px;">
  <p style="color: #43425d;line-height: 1.25;font-size: 12px;margin-bottom: 10px;">You may change new password after
    verified your current password </p>
  <mat-form-field style="width: 100%;font-size: 12px;">
    <mat-label>Current password</mat-label>
    <input matInput placeholder="Current password" [(ngModel)]="currentPass" required>
  </mat-form-field>
  <br>
  <mat-form-field style="width: 100%;font-size: 12px;">
    <mat-label>New password</mat-label>
    <input matInput placeholder="New password" [(ngModel)]="newPass" required>
  </mat-form-field>
  <mat-form-field style="width: 100%;font-size: 12px;">
    <mat-label>Confirm password</mat-label>
    <input matInput placeholder="Confirm password" [(ngModel)]="confirmPass" required>
  </mat-form-field>
</div>
<div mat-dialog-actions style="display: block; text-align: center;font-size: 11px;">
  <button mat-flat-button color="primary" style="color:white;background: #7069d8;border-radius: 2px;
        width: 136px;height: 30px;line-height: 30px;font-size: 11px;" (click)="close()">Done</button>
</div>