:host {
  top: 48px;
  background: #f0f0f7;
  overflow: auto;
  justify-content: flex-start !important;

  // Flexbox
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
  }
  .column {
    flex: 75%;
    max-width: 75%;
    padding: 0 10px;
  }
  .annual,
  .replacement,
  .medical,
  .birthday {
    // flex: 23%;
    // max-width: 23%;
    flex: 1;
    min-width: 202px;
    padding: 0 15px;
    background: #ffffff;
    margin: 1%;
    border-radius: 2px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  }
  .annoucement,
  .holiday {
    // flex: 48%;
    // max-width: 48%;
    background: #ffffff;
    margin: 1%;
    border-radius: 2px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
    flex: 1;
    min-width: 300px;
  }
  .tasks {
    flex: 72%;
    max-width: 72%;
    background: #ffffff;
    margin: 1%;
    border-radius: 2px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
    margin-bottom: 30px;
  }
  ::ng-deep .item-inner {
    border-color: rgb(0, 0, 0);
  }
  .reminder {
    flex: 24%;
    max-width: 24%;
    background: #ffffff;
    margin: 1%;
    border-radius: 2px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
    margin-bottom: 30px;
    height: 290px;
    background: #7069d8;
    text-align: center;
  }
  .divider {
    --min-height: none;
    padding-top: 2%;
    padding-bottom: 1%;
    width: 99%;
    padding-left: 1%;
    opacity: 0.5;
  }
  mat-chip {
    max-width: 69px;
    min-height: 20px;
    min-width: 69px;
  }
  .mat-chip.mat-standard-chip {
    background-color: #5ee2a0;
  }
  .annual-icon {
    width: 46px;
    height: 44px;
    float: right;
  }
  .replace-icon {
    width: 55px;
    height: 45px;
    float: right;
  }
  .medical-icon {
    width: 44px;
    height: 43px;
    float: right;
  }
  .svg-icon {
    width: 46px;
    height: 44px;
    float: right;
  }
  .columns {
    flex: 25%;
    max-width: 25%;
    padding: 0 10px;
  }
  .column .annual {
    margin-top: 5px;
    vertical-align: middle;
  }

  .column .leftCard {
    margin-top: 5px;
    vertical-align: middle;
  }
  .column .googleCart {
    margin-top: 20px;
    vertical-align: middle;
    margin-bottom: 20px;
  }
  .columns .rightCard {
    margin-top: 5px;
    vertical-align: middle;
  }
  .columns .rightCardBottom {
    margin-top: 5px;
    vertical-align: middle;
  }
  .columns .rightCardLast {
    margin-top: 20px;
    vertical-align: middle;
  }

  // mat grid list

  .button1,
  .button2 {
    color: #057dcd;
    width: 100px;
    height: 25px;
    font-size: 12px;
    text-transform: none;
    cursor: pointer;
  }
  .button2 {
    margin-top: 0;
  }
  .button3 {
    margin-top: 0;
    width: 130px;
    height: 25px;
    color: #057dcd;
    font-size: 12px;
    text-transform: none;
    cursor: pointer;
  }
  .button-outline {
    --border-width: 1px;
  }
  .mat-list-item {
    font-size: 12px;
    height: 30px !important;
  }
  ::ng-deep .mat-list-text {
    padding-left: 0px !important;
    color: #7a8589;
  }
  .mat-list {
    overflow: hidden;
    max-height: 160px;
  }
  .list {
    padding: 0;
  }
  .avatar {
    margin-right: 15px;
    width: 34px;
    height: 34px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .labelText {
    margin: 0;
  }
}
